@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgb(130 211 224);
    --surface-tint: rgb(130 211 224);
    --on-primary: rgb(0 54 61);
    --primary-container: rgb(0 79 88);
    --on-primary-container: rgb(158 239 253);
    --secondary: rgb(177 203 208);
    --on-secondary: rgb(28 52 56);
    --secondary-container: rgb(51 75 79);
    --on-secondary-container: rgb(205 231 236);
    --tertiary: rgb(186 198 234);
    --on-tertiary: rgb(36 48 77);
    --tertiary-container: rgb(59 70 100);
    --on-tertiary-container: rgb(218 226 255);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(14 20 21);
    --on-background: rgb(222 227 229);
    --surface: rgb(14 20 21);
    --on-surface: rgb(222 227 229);
    --surface-variant: rgb(63 72 74);
    --on-surface-variant: rgb(191 200 202);
    --outline: rgb(137 146 148);
    --outline-variant: rgb(63 72 74);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(222 227 229);
    --inverse-on-surface: rgb(43 49 51);
    --inverse-primary: rgb(0 104 116);
    --primary-fixed: rgb(158 239 253);
    --on-primary-fixed: rgb(0 31 36);
    --primary-fixed-dim: rgb(130 211 224);
    --on-primary-fixed-variant: rgb(0 79 88);
    --secondary-fixed: rgb(205 231 236);
    --on-secondary-fixed: rgb(5 31 35);
    --secondary-fixed-dim: rgb(177 203 208);
    --on-secondary-fixed-variant: rgb(51 75 79);
    --tertiary-fixed: rgb(218 226 255);
    --on-tertiary-fixed: rgb(14 27 55);
    --tertiary-fixed-dim: rgb(186 198 234);
    --on-tertiary-fixed-variant: rgb(59 70 100);
    --surface-dim: rgb(14 20 21);
    --surface-bright: rgb(52 58 59);
    --surface-container-lowest: rgb(9 15 16);
    --surface-container-low: rgb(23 29 30);
    --surface-container: rgb(27 33 34);
    --surface-container-high: rgb(37 43 44);
    --surface-container-highest: rgb(48 54 55);
    --hover-white: rgba(255, 255, 255, 15%);
    --hover-black: rgba(0, 0, 0, 15%);
    --elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Inter';
  background-color: var(--surface-container);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-color .3s;
  user-select: none;
  overflow: hidden;

  &.grabbing {
    user-select: none;
    cursor: grabbing;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle at 0.125rem 0.125rem, rgb(255 255 255 / .15) 0.0875rem, transparent 0);
    background-size: 2rem 2rem;
    background-repeat: repeat;
    background-position: .5rem center;
  }
}

hr {
  border-color: var(--outline);
  border-radius: 0.5rem;
  height: unset;
}

.transition-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &>* {
    grid-row: 1;
    grid-column: 1;
  }
}

/* Adjusting for different screen widths */
@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 13.5px;
    /* 1440px */
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 12px;
    /* 1440px */
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 11.5px;
    /* 1366px */
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 8.5px;
    /* 1024px */
  }
}

/* Scaling for Larger Screens */
@media (min-width: 2560px) {
  html {
    font-size: 22px;
    /* 2560px */
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 32px;
    /* 3840px */
  }
}